.dayContainer {
  padding: 0.5em;
}

.temperature > div > span {
  font-weight: normal;
  font-size: 0.7em;
}

.maxTemp > div > span {
  color: red;
}

.minTemp > div > span {
  color: blue;
}
